body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar-brand{
  font-size:  25px !important;
  color: rgb(138, 99, 177) !important;
}
.collapse .navbar-nav a:hover{
color: rgba(0, 68, 255, 0.651);
}
a.nav-link.active {
  color: rgba(190, 30, 57, 0.329);
  font-weight: bold;
}
.navbar-expand-lg .navbar-nav{
  margin-left: auto;
}
.img-fluid{
  width: 200px !important;
}
.header_image{
  position: relative;
  height: 200px;
  animation: floatAnimation 2s infinite; 
  margin-left: auto;
  margin-right: -90px;
}
.header_image img{
  position: absolute;
    bottom: 0;
    animation: floatImage 2s alternate infinite;
}
@keyframes floatAnimation {
  0%, 100% {
      transform: translateY(0); 
  }
  50% {
      transform: translateY(-20px);
  }
}

@keyframes floatImage {
  0%, 100% {
      transform: translateY(0); 
  }
  50% {
      transform: translateY(-20px); 
  }
}
.card-img-top{
  width: 213px !important;
  margin-left: auto;
  margin-right: 36px;
}